[Unit]
Description=AirBOJ python daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/path/to/airboj
ExecStart=/usr/local/bin/pipenv run main
Restart=always

[Install]
WantedBy=multi-user.target
